@import "tailwindcss";

:root {
  --bg-image: url("@/public/sky.jpg");
  --bg-fill: #80ac74;
}

html.dark {
  --bg-image: url("@/public/dark-sky.jpg");
  --bg-fill: #050e15;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.poke-bg {
  background-image: var(--bg-image);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 374px;
  background-color: var(--bg-fill);
}

@media (min-width: 537px) and (max-width: 650px) {
  .poke-bg {
    background-size: auto 420px;
  }
}

@media (min-width: 651px) {
  .poke-bg {
    background-size: auto 420px;
  }
}